import React from 'react';

interface {{pascalCase name}}Props {
// define your prop types here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({}) => {
  return <div>{{pascalCase name}}</div>};

  export default {{pascalCase name}};