import React from 'react';

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props & React.ComponentPropsWithRef<"div">> = ({ className }) => {
  return <div className={className}>{{pascalCase name}}</div>
};

  export default {{pascalCase name}};